<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body id="holdAll" class="container-fluid">
        <div id="holdAllRow" class="row">
            <div id="sideMenu" class="col-xs-1">
                <!-- calendar -->
                <div class="row">
                    <div class="col-xs-12">
                        <img src="img/calendar.png" alt="Calendar Icon">
                    </div>
                </div>
                <div class="row">
                    <div id="holdNotes" class="col-xs-12">
                        holds notes
                    </div>
                </div>


            </div>
            <div id="content" class="col-xs-11">
                <!-- logo -->
                <div class="row">
                    <div class="col-xs-12">

                    </div>
                </div>

                <!-- toolbar - not sure if this will happen -->
                <div class="row">
                    <div class="col-xs-12">

                    </div>
                </div>

                <!-- agenda -->
                <div class="row">
                    <div class="col-xs-12">

                    </div>
                </div>

                <!-- content -->
                <div class="row">
                    <div class="col-xs-12">

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
